@media only screen and (max-width:1068px){
    .topnav{
        flex-direction: column;
    }
    .logo{
        margin: auto;
    }
    #nav,#sym{
    display: none;
    }

    #drdown{
        display: none;
    }
    .navlist a{
        display: block;
        text-align: center;
    }
    .hamburger{
        display: block;
      }
      .carousel-caption{
        color: rgba(255, 255, 255);
        width: 70%;
        margin: auto;
      }
      .sponserimg{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .commonsponserimg{
        margin: 20px auto;
      }
    .footerlinks ul{
        flex-direction: column;
    }
    .footerlinks ul li {
        text-align: center;
        padding: 10px 0px;
    }
    .box a{
        padding: 0px 0px;
    }
}